DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CORS_ALLOW_ALL_ORIGINS=True

MONGO_URI=mongodb://school_portal_user:school_portal_password@localhost:27017/school_portal?authSource=admin

BOOTSTRAP_ADMIN_ON_STARTUP=False
BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_EMAIL=admin@tstschoolportal.com
BOOTSTRAP_ADMIN_PASSWORD=change-this-password
